<nav class="navbar navbar-light bg-light ">
    <a class="navbar-brand " href="#">
        <i class="fa-solid bi-coin fa-10x" style="color: var(--secendory-color); width: 30px; height: 30px;"></i>
      <strong>Currency-Converter</strong>
    
      
    </a>
    <div  class="mx-5" >
      <div >
        <i class="bi bi-currency-euro"></i>
        <strong>{{"".concat(euroCourse['cc']," = ", euroCourse['rate'])  }}</strong>
      </div>
      <div>
        <i class="bi bi-currency-dollar"></i>
        <strong>{{"".concat(dollarCourse['cc']," = ", dollarCourse['rate'])}}</strong>
      </div>
      
      
    </div>
  </nav>